/* ImageGallery.module.css */

.gallery {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

/* .galleryItem {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.galleryItemImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
} */
